@function darker($color, $pct) {
  @return mix(#000, $color, $pct);
}

@function lighter($color, $pct) {
  @return mix(#fff, $color, $pct);
}

$npm-color: #cb3837;
$ionic-color: #4e8ef7;
$ember-color: #dd3f24;
$electron-color: #47848f;
$vagrant-color: #127eff;
$yarn-color: #2c8ebb;
$handlebars-color: #000000;
$couch-color: #e42528;
$elm-color: #34495E;
$cakephp-color: #D43D44;
$stylus-color: #333333;
$express-color: #444;
$pycharm-color: #4D8548;
$rubymine-color: #C12C4C;
$tomcat-color: #D1A41A;
$vue-color: #41B883;
$swift-color: #F05138;
$webpack-color: #1C78C0;
$protractor-color: #b7111d;
$cucumber-color: #00a818;
$gradle-color: #02303a;
$github-color: #181616;
$d3js-color: #f7974e;
$aws-color: #F7A80D;
$android-color: #A4C439;
$angular-color: #c4473a;
$apache-color: #303284;
$apple-color: #000000;
$babel-color: #f9dc3e;
$backbone-color: #002A41;
$bootstrap-color: #59407f;
$bower-color: #ef5734;
$c-color: #03599c;
$coffeescript-color: #28334c;
$cplusplus-color: #9c033a;
$csharp-color: #68217a;
$css-color: #3d8fc6;
$docker-color: #019bc6;
$dotnet-color: #1384c8;
$go-color: #000000;
$grunt-color: #fcaa1a;
$gulp-color: #eb4a4b;
$heroku-color: #6762a6;
$html-color: #e54d26;
$java-color: #EA2D2E;
$jasmine-color: #8a4182;
$javascript-color: #f0db4f;
$less-color: #2a4d80;
$meteor-color: #df5052;
$mocha-color: #8d6748;
$mongodb-color: #4FAA41;
$mysql-color: #00618a;
$nginx-color: #090;
$node-color: #83CD29;
$oracle-color: #EA1B22;
$php-color: #6181b6;
$postgresql-color: #336791;
$python-color: #ffd845;
$rails-color: #a62c46;
$ruby-color: #d91404;
$react-color: #61dafb;
$redis-color: #d82c20;
$sass-color: #cc6699;
$travis-color: #bb2031;
$typescript-color: #007acc;
