@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

@function darker($color, $pct) {
  @return mix(#000, $color, $pct);
}

@function lighter($color, $pct) {
  @return mix(#fff, $color, $pct);
}

$item-size: 300px;
$commits-container-max-size: $item-size * 3;
$language-icon-size: 25px;
$title-size: 25px;

$transition: all linear .3s;

$color-dark: #000;
$color-medium: #444;
$color-light: #fff;

$font-size-base: 14px;
$font-size-x-large: 1.4em;
$font-size-large: 1.3em;
$font-size-medium: .8em;
$font-size-small: .6em;

$size-large: 20px;
$size-medium: 5px;
$size-small: 1px;

$opacity-heavy: .8;
$opacity-light: .5;

$font-main: "Happy Monkey";
$font-accent: "Press Start 2P";
$font-icon: "devicon";

$menu-size: 200px;
$header-size: 34px;