@import "../styles/variables";

.Heading {
  font-size: $font-size-medium;
  font-family: $font-accent;
  margin: 0;
  padding: 0;
  line-height: $header-size;
  height: $header-size;
  position: fixed;
  top: 0;
  right: $header-size + $size-medium;
}