@import "../styles/variables";

.Heading {
  font-size: $font-size-medium;
  font-family: $font-accent;
  margin: 0 $size-large 0 0;
  padding: 0;
  line-height: $header-size;
  height: $header-size;
  float: right;
}