@import "../styles/variables";

.Menu {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  max-height: $header-size;
  overflow: hidden;
  transition: $transition;

  &.open {
    max-height: 100%;
  }
}
