@import "../styles/variables";

.Repo {
  position: absolute;
  box-shadow: 0 0 $size-large rgba($color-dark, $opacity-light);
  transition: opacity $transition-duration/2 linear;

  .Title,
  .LanguagesContainer {
    transition: $transition;
    opacity: 0;
  }

  .CommitsContainer {
    transition: $transition;
    max-height: 0;
    overflow: hidden;
  }

  &:hover {
    .Title,
    .LanguagesContainer {
      opacity: 1;
    }

    .CommitsContainer {
      max-height: $commits-container-max-size;
    }
  }

  &.hidden {
    opacity: 0;
  }
}
