@import "../styles/variables";

.ViewButtonsContainer {
  box-sizing: border-box;
  transition: $transition;
  position: absolute;
  padding-right: $size-medium;
  margin: 0;
  top: $item-size - $title-size - $title-size;
  height: $title-size;
  line-height: $title-size;
  width: $item-size;
  text-align: right;
  font-family: $font-main;
}
