.repo-item {
  position: absolute;
  background: url(https://github.com/adamski52/travis-ftpr/blob/master/thumbnail.jpg?raw=true) no-repeat center center #fff;
  background-size: cover;
  box-shadow: 0 0 50px rgba(0, 0, 0, .3);
  overflow: hidden;

  &:hover {
    .repo-item-title {
      opacity: 1;
    }

    .repo-language {
      opacity: 1;
    }
  }
}



$title-size: 25px;
.repo-item-title {
  box-sizing: border-box;
  transition: all linear .3s;
  position: absolute;
  opacity: 0;
  padding-right: 5px;
  margin: 0;
  bottom: 0;
  height: $title-size;
  line-height: $title-size;
  width: 100%;
  background: #000;
  color: #fff;
  text-align: right;
}



$language-icon-size: 25px;
.repo-language {
  opacity: 0;
  display: block;
  transition: all linear .3s;
  box-sizing: border-box;
  float: left;
  clear: left;
  max-width: $language-icon-size;
  height: $language-icon-size;
  line-height: $language-icon-size;
  padding-left: $language-icon-size;
  position: relative;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  background: #000;

  &:hover {
    max-width: 100%;
  }

  //&:after {
  //  float: left;
  //  width: 5px;
  //  content: "";
  //}
  //&:before {
  //  display: block;
  //  width: $language-icon-size;
  //  height: $language-icon-size;
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  content: "X";
  //  text-align: center;
  //  margin-right: 5px;
  //  line-height: $language-icon-size;
  //}
}
