.repo-item {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  background-size: cover;
  box-shadow: 0 0 50px rgba(0, 0, 0, .3);
  overflow: hidden;

  &:hover {
    .repo-item-title {
      opacity: 1;
    }

    .repo-language {
      opacity: 1;
    }
  }
}



$title-size: 25px;
.repo-item-title {
  box-sizing: border-box;
  transition: all linear .3s;
  position: absolute;
  opacity: 0;
  padding-right: 5px;
  margin: 0;
  bottom: 0;
  height: $title-size;
  line-height: $title-size;
  width: 100%;
  background: #000;
  color: #fff;
  text-align: right;
}

$language-icon-size: 25px;
.repo-language {
  opacity: 0;
  font-size: 1.2em;
  display: block;
  transition: all linear .3s;
  box-sizing: border-box;
  float: left;
  clear: left;
  max-width: $language-icon-size;
  height: $language-icon-size;
  line-height: 1.2em;
  padding-left: $language-icon-size;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  background: #000;

  span {
    color: #fff;
    font-size: .8em;
    font-family: "Happy Monkey";
  }

  &:hover {
    max-width: 100%;

    &:before {
      text-shadow: 0 0 20px rgba(255, 255, 255, .8);
    }
  }

  &:after {
    float: left;
    width: 5px;
    content: "";
  }

  &:before {
    transition: all .3s linear;
    display: block;
    width: $language-icon-size;
    height: $language-icon-size;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    margin-right: 5px;
    line-height: $language-icon-size;
  }
}
